---
import LandingPage from "../components/landing/LandingPage.astro";
import Layout from "../layouts/Layout.astro";
import Newlayout from "../layouts/Newlayout.astro";
---

<Newlayout
	title="mini-cms - Minimal CMS for GitHub"
>
	<LandingPage />
	<!-- <p class="text-earth-600 text-[20rem]">joy</p> -->
</Newlayout>
